<footer class="themePadding">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3 pb-3 pb-lg-0">
                <div class="logo pb-4 animate__animated animate__fadeInUp wow">
                    <a class="navbar-brand nav-link px-0 m-0 " (click)="navHome()">
                        <img src="assets/images/logo.png" class="img-fluid d-block">
                    </a>
                </div>
                <p class="p-0 col-12 col-xl-11 animate__animated animate__fadeInUp wow">
                    {{miniText}}
                </p>
            </div>

            <div class="col-12 col-md-6 col-xl-3 pb-3 pb-lg-0 pt-2">
                <h2 class="pb-4 animate__animated animate__fadeInUp wow">{{'quick_links' | translate}}</h2>
                <h3 class="animate__animated animate__fadeInUp wow" (click)="navRead('privacy_policy')">
                    <a>{{'privacy_policy' | translate}}</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow" (click)="navRead('terms_and_conditions')">
                    <a>{{'terms_and_conditions' | translate}}</a></h3>
                <!-- <h3 class="animate__animated animate__fadeInUp wow" (click)="navRead('terms_and_conditions')">
                    <a>{{'editorial_policy' | translate}}</a></h3> -->
                <h3 class="animate__animated animate__fadeInUp wow" (click)="navRead('about')"><a>{{'about_us' |
                        translate}}</a></h3>
            </div>

            <div class="col-12 col-md-6 col-xl-3 pb-3 pb-lg-0 pt-2">
                <h2 class="pb-4 animate__animated animate__fadeInUp wow">{{'services' | translate}}</h2>
                <h3 class="animate__animated animate__fadeInUp wow" (click)="navHome()"><a> {{'order_medicine' | translate}}</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow" (click)="navDoctors()"><a> {{'doctor_appointment' | translate}}</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow" (click)="navHospitals()"><a> {{'nearby_hospitals' | translate}}</a></h3>
            </div>

            <div class="col-12 col-md-6 col-xl-3 pb-3 pb-lg-0 pt-2 ">
                <h2 class="pb-4 animate__animated animate__fadeInUp wow">{{'contact' | translate}}</h2>
                <h3 class="animate__animated animate__fadeInUp wow contact"><a>{{'call_us' | translate}} : {{supportPhone}}</a>
                </h3>
                <h3 class="animate__animated animate__fadeInUp wow contact"><a>{{'mail_us' | translate}} : {{supportEmail}}</a>
                </h3>
                <div class="socialLinks d-flex animate__animated animate__fadeInUp wow">
                    <a class="animate__animated animate__zoomIn wow "><img src="assets/images/icons/ic_facebook.png"></a>
                    <a class="animate__animated animate__zoomIn wow "><img src="assets/images/icons/ic_instagram.png"></a>
                    <a class="animate__animated animate__zoomIn wow "><img src="assets/images/icons/ic_twitter.png"></a>
                </div>
            </div>
        </div>
    </div>
</footer>